{% extends "layout.html" %}

{% block content %}

<!-- css読み込みタグの生成 -->
<script>createLinkTag("{{ url_for('static', filename='css/index.css') }}", "stylesheet", "text/css")</script>

<main>
    <div class="work-gallery">
        <!-- 各作品の表示 -->
        <div class="block-work-abstract">
            <img src="{{ url_for('static', filename='img/flask-logo.png') }}" class="work-thumbneil">
            <div class="work-info">
                <div class="work-caption">作品1</div>
                <div class="work-upddate">2023-08-05</div>
            </div>
        </div>

        <div class="block-work-abstract">
            <img src="{{ url_for('static', filename='img/flask-logo.png') }}" class="work-thumbneil">
            <div class="work-info">
                <div class="work-caption">作品1</div>
                <div class="work-upddate">2023-08-05</div>
            </div>
        </div>


        <div class="block-work-abstract">
            <img src="{{ url_for('static', filename='img/flask-logo.png') }}" class="work-thumbneil">
            <div class="work-info">
                <div class="work-caption">作品1</div>
                <div class="work-upddate">2023-08-05</div>
            </div>
        </div>


        <div class="block-work-abstract">
            <img src="{{ url_for('static', filename='img/flask-logo.png') }}" class="work-thumbneil">
            <div class="work-info">
                <div class="work-caption">作品1</div>
                <div class="work-upddate">2023-08-05</div>
            </div>
        </div>


        <div class="block-work-abstract">
            <img src="{{ url_for('static', filename='img/flask-logo.png') }}" class="work-thumbneil">
            <div class="work-info">
                <div class="work-caption">作品1</div>
                <div class="work-upddate">2023-08-05</div>
            </div>
        </div>
    </div>
</main>

{% endblock %}