{% extends "layout.html" %}

{% block content %}

<!-- css読み込みタグの生成 -->
<script>createLinkTag("{{ url_for('static', filename='css/work.css') }}", "stylesheet", "text/css")</script>

<main>
    <div class="work-detail">
        <!-- 作品詳細の表示 -->
        <img src="{{ url_for('static', filename='img/flask-logo.png') }}" class="work-thumbneil">
        <h1 class="work-title">作品１</h1>
        <div class="work-exp"><p>
            作品の詳細ページです。作品の簡単な説明をします。<br>
            簡単な説明１です。<br>
            簡単な説明２でした。<br>
            うぇっうぇっうぇっうぇっうぇっうぇっうぇっうぇっうぇうりうりうりうりうりうりうりうっりうりうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃうぃ
        </p></div>
        <div class="work-upddate">2023-08-05 12:15:23</div>
    </div>
</main>

{% endblock %}